<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION">
    </uses-permission>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>

    <uses-permission
        android:name="android.permission.INTERNET">
    </uses-permission>

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS">
    </uses-permission>

    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS">
    </uses-permission>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">

        <activity
            android:name=".Activity"
            android:exported="true"
            android:label="@string/app_launcher_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN">
                </action>

                <category
                    android:name="android.intent.category.LAUNCHER">
                </category>

            </intent-filter>
        </activity>

        <activity
            android:name=".widgets.ActivityWidgetConfig"
            android:exported="true"
            android:theme="@style/Theme.WidgetConfig">
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">

            <meta-data
                android:name="autoStoreLocales"
                android:value="true">
            </meta-data>

        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false" tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" tools:node="remove">
            </meta-data>

        </provider>

        <!-- WIDGETS -->

        <receiver
            android:name=".widgets.card.WidgetCardReceiver"
            android:exported="true"
            android:label="@string/widget_card">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_card">
            </meta-data>

        </receiver>

        <receiver
            android:name=".widgets.daily.WidgetDailyReceiver"
            android:exported="true"
            android:label="@string/widget_daily">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_daily">
            </meta-data>

        </receiver>

        <receiver
            android:name=".widgets.hourly.WidgetHourlyReceiver"
            android:exported="true"
            android:label="@string/widget_hourly">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_hourly">
            </meta-data>

        </receiver>

        <receiver
            android:name=".widgets.pill.WidgetPillReceiver"
            android:exported="true"
            android:label="@string/widget_pill">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_pill">
            </meta-data>

        </receiver>

        <receiver
            android:name=".widgets.summary.WidgetSummaryReceiver"
            android:exported="true"
            android:label="@string/widget_summary">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_summary">
            </meta-data>

        </receiver>

        <receiver
            android:name=".widgets.transparent.WidgetTransparentReceiver"
            android:exported="true"
            android:label="@string/widget_transparent">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_transparent">
            </meta-data>

        </receiver>

    </application>

</manifest>
